@font-face {
  font-family: mazius;
  src: url(fonts/Mazius-Extraitalic.121a71a7.ttf);
}
@font-face {
  font-family: gilroy;
  src: url(fonts/Gilroy-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: gilroy;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  /* height: 150vh; */
  /* background-color: #251d14; */
}
#loader {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: white;
  z-index: 9999999;
}
#loader #topheading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
#topheading h5 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
#loader h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: 500;
}
#lastName {
  font-family: "mazius";
  color: #14cf93;
}
.reveal .parent {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
.reveal .parent .child {
  display: block;
}
.reveal .parent .child span {
  display: inline-block;
}
#loader-green {
  /* display: none; */
  position: absolute;
  position: fixed;
  top: 100%;
  width: 100%;
  height: 0vh;
  background-color: #14cf93;
  overflow: hidden;
  z-index: 9999999;
}

#home {
  /* position: relative; */
  width: 100%;
  min-height: 150vh;
  background-color: #fcfaf8;
}
#home #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  /* background-color: red; */
  padding: 0 5vw;
}
#nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  font-family: gilroy;
  color: #000;
}
#nav a .line {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 1px;
  background-color: #000;
}
#line1 {
  left: 0;
  width: 0%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.6s;
}
#line2 {
  right: 0%;
  width: 100%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#nav a:hover #line2 {
  width: 0%;
}
#nav a:hover #line1 {
  width: 100%;
}
#flip {
  height: 12.5vw;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 12.5vw;
  margin-bottom: 11.5vw; /* Matches the height to create seamless transition */
  display: inline-block;
}
#flip > div > div h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flip div:first-child {
  animation: show 6s cubic-bezier(0.19, 1, 0.22, 1) infinite; /* Adjusted animation duration for two items */
}

/* Keyframes for two items */
@keyframes show {
  0%,
  20% {
    margin-top: -12.5vw; /* Start hidden above */
  }
  20%,
  40% {
    margin-top: -12.5vw; /* Start hidden above */
  }
  40%,
  50% {
    margin-top: -37vw; /* Show the third item */
  }
  50%,
  60% {
    margin-top: -37vw; /* Show the third item */
  }
  60%,
  70% {
    margin-top: -12.5vw; /* Show the second item */
  }
  70%,
  75% {
    margin-top: 0vw; /* Show the first item */
  }
  75%,
  80% {
    margin-top: 0vw; /* Show the first item */
  }
  80%,
  100% {
    margin-top: -12.5vw; /* Reset for the next cycle */
  }
}

.row {
  margin-top: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5.5vw;
  line-height: 1.2;
}

.row h1 {
  font-size: 12.5vw;
  color: #383838;
}
.row .text {
  display: flex;
  gap: 10px;
  margin-top: -4rem;
}
.work-time {
  display: flex;
  gap: 40px;
}
.row h5 {
  font-size: 12px;
  opacity: 0.5;
  font-weight: 600;
}

.row:nth-child(3) {
  margin-top: -2vw;
}
.row:nth-child(3) img {
  margin-top: 80px;
}
.row svg {
  height: 10vw;
  margin-left: 2vw;
}

path,
polyline {
  stroke: #14cf93;
}

#imagery {
  position: relative;
  margin-top: 20vw;
  width: 100%;
  padding: 0 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

#imagery #imglef {
  width: 30%;
  height: auto;
}

#imglef h1 {
  font-size: 2vw;
  font-weight: 600;
  color: #333;
}
#imglef h1 span {
  color: #14cf93;
  font-family: "mazius";
  letter-spacing: 1px;
}

#imgrig {
  margin-top: 10vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 60%;
  /* background-color: yellow; */
}

#imgrig .imgcntnr {
  position: absolute;
  width: 30vw;
  height: 45vw;
  border-radius: 4vw;
  filter: grayscale();
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#imgrig .imgcntnr:hover {
  filter: grayscale(0);
}

#imgrig .imgcntnr:nth-child(1) {
  transform: translate(-20%, -10%) rotate(-8deg);
  background-image: url(https://images.unsplash.com/photo-1666884558195-f2da8a42f7c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1380&q=80);
  background-size: cover;
  background-position: center;
}
#imgrig .imgcntnr:nth-child(2) {
  transform: translate(10%, 5%) rotate(-4deg);
  background-image: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);
  background-size: cover;
  background-position: center;
}
#imgrig .imgcntnr:nth-child(3) {
  transform: translate(45%, 20%) rotate(2deg);
  background-image: url(https://images.unsplash.com/photo-1652196819350-c93eaff773c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  background-size: cover;
  background-position: center;
}
#work .all-works {
  display: flex;
  flex-direction: column;

  /* height: 100vmin; */
  width: 100%;
  margin-top: 100px;
}
#work {
  position: relative;
  padding-top: 300px;
  padding-bottom: 150px;
  width: 100%;
  background-color: #f2f2f2;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#work::before {
  content: "";
  position: absolute;
  top: -55px;
  width: 100%;
  height: 150px;
  transform: rotate(-180deg);
  background-image: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
  background-size: cover;
}
#work .workrow {
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workrow h1 {
  display: flex;
  align-items: baseline;
  font-size: 8vw;
  font-weight: 100;
  font-family: "sant";
}
.workrow h1 .small {
  font-size: 1.5vw;
  font-weight: 600;
  margin-left: 5vw;
  font-family: gilroy;
}
.o-ui-arrow {
  width: 6vw;
  rotate: 90deg;
}
.o-ui-arrow path {
  stroke: rgb(156, 156, 156);
}
.font {
  color: #16cf94;
  font-family: "voyage";
  font-style: italic;
}

#images {
  position: relative;
  /* margin-top: 6vw; */
  height: 80vmin;
  width: 100%;
  padding: 0 5vw;
  display: flex;
  align-items: baseline;
  /* justify-content: space-between; */
  gap: 50px;
}
.cnt {
  position: relative;
  pointer-events: auto;
  touch-action: auto;
  /* overflow: hidden; */
  /* margin-top: 100px; */
}
.cnt img {
  width: 100%;
  transition: filter cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  /* border-radius: 30px; */
}
.cnt1 {
  width: 50%;
}
.cnt2 {
  width: 50%;
}
.details_section {
  position: absolute;
  top: 90%;
  left: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 100;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
.project_name {
  font-family: gilroy;
  font-size: 0.8rem;
  width: fit-content;
  font-weight: 600;
  color: #111;
  background-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(76, 76, 76, 0.748);
}
.link_button {
  text-decoration: none;
  font-family: gilroy;
  font-size: 0.8rem;
  font-weight: 600;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  gap: 5px;
  text-align: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(76, 76, 76, 0.748);
}
.link_button i {
  font-size: 2rem;
  font-weight: 100;
  color: #25cb97;
}

#cursor {
  position: fixed;
  width: 17vw;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: red;
  pointer-events: none; /* Ensure cursor doesn't block interactions */
}

#cursor > div {
  position: fixed;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  pointer-events: none;
  opacity: 0;
}
.dpkCursor {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
  pointer-events: none;
}

.circ-element {
  width: 100%;
  position: relative;
}

#cursor .crow {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0.7vw;
}
.crow .ccircle {
  width: 2vw;
  height: 2vw;
  border: 2px solid #fff;
  border-radius: 50%;
}
.crow .ccapsule {
  padding: 0.7vw 3vw;
  border-radius: 100px;
  background-color: #fff;
}

.circ-element img {
  width: 100%;
  /* opacity: 0; */
  /* animation: change 5s linear infinite; */
  position: absolute;
}
/* .circ-element img:nth-child(2) {
  animation-delay: 1s;
}
.circ-element img:nth-child(3) {
  animation-delay: 2s;
}
.circ-element img:nth-child(4) {
  animation-delay: 3s;
}
.circ-element img:nth-child(5) {
  animation-delay: 4s;
} */

#page2 {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  min-height: 100vh;
  background-color: #eeeded;
}
#page2 > h6 {
  position: absolute;
  left: 45%;
  font-size: 6vw;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#page2text {
  padding: 0 10vw;
}
#page2text h1 {
  font-size: 8vw;
  font-family: "sant";
  font-weight: 100;
}
#page2text p {
  font-size: 3vw;
  opacity: 0.8;
  margin-bottom: 10px;
  font-family: "mazius";
}
#projects {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  width: 100%;
  min-height: 60vh;
  margin-top: 20px;
  padding: 0 5vw;
}
#projects::-webkit-scrollbar {
  display: none;
}

.slide {
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 50%;
  min-height: inherit;
  overflow: hidden;
  will-change: transform;
  -webkit-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  transform: skewX(0deg);
}
.slide > img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.slide img:nth-child(1) {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}
.slide img:nth-child(2) {
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-clip-path: circle(0% at 50% 50%);
  clip-path: circle(0% at 50% 50%);
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #eeeded;
}
#footerleft {
  position: relative;
  height: 100vh;
  width: 70%;
}
#links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1;
}
#links h1 {
  font-size: 6vw;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
#links > a {
  color: black;
  text-decoration: none;
  opacity: 0.6;
  line-height: 2;
  font-size: 1vw;
  font-family: "monument";
  letter-spacing: 3px;
}
#links > a:nth-child(2) {
  opacity: 1;
}
#footerright {
  position: relative;
  height: 100vh;
  width: 30%;
  background-color: blueviolet;
}
#footerright > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

@keyframes change {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .dpkCursor {
    display: none;
  }
  #flip > div > div {
    margin-bottom: 8.5vw; /* Matches the height to create seamless transition */
  }

  .row:nth-child(3) img {
    margin-top: 10px;
  }

  .row h1 {
    font-size: 9vw;
    flex: none;
  }
  .row .text {
    margin-top: 0;
  }
  .work-time {
    flex-direction: column;
    gap: 10px;
    height: fit-content;
  }
  .row .text h5 {
    font-size: 2.5vw;
  }
  #imagery {
    height: 100vmin;
    margin-top: 5vw;
    flex-direction: column;
  }
  #imagery #imglef {
    width: auto;
  }
  #imglef h1 {
    font-size: 4vw;
  }
  #imgrig {
    margin-top: 10vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
  }
  #work .all-works {
    margin-top: 25px;
  }
  #work {
    padding-top: 82px;
  }
  #images {
    margin-top: 0px;
    height: 55vmin;
  }

  #page2 {
    min-height: 50vh;
  }
  #page2 > h6 {
    font-size: 8vw;
    margin-top: 20px;
  }
  #page2text {
    padding: 20px 20px;
  }
  #page2text h1 {
    font-size: 20vw;
  }
  #page2text p {
    font-size: 9vw;
    opacity: 0.6;
  }
  #projects {
    min-height: 25vh;
    padding: 0 40px;
  }
  .slide {
    width: 100%;
  }

  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #links h1 {
    font-size: 15vw;
  }
  #links > a {
    font-size: 3vw;
  }
  #footerleft {
    width: 100%;
    height: 50vh;
  }
  #footerright {
    width: 100%;
    height: 50vh;
  }
  #footerright > img {
    -o-object-position: bottom;
    object-position: bottom;
  }
}

@-webkit-keyframes gradient {
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes gradient {
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
